/* Basic tags */

body {
  /* Background pattern from subtlepatterns.com */
  background: #ffefef url('/images/xv.jpg') repeat fixed;
  color: #474747;
  font-family: Questrial, helvetica, sans-serif;
  margin: auto;
}

body:after {
  background: #ffefef;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

footer {
  font-size: 11px;
  text-align: center;
}

a {
  cursor: pointer;
}

h1, h2, h3 {
  color: #636363;
  font-weight: normal;
  margin: 25px 0 5px 0;
  padding: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  line-height: 125%;
  margin-top: 8px;
  margin-bottom: 13px;
}

img {
  display: block;
  margin: auto;
}

img.photo {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
}

.schedule td {
  padding: 3px 10px 3px 0;
  vertical-align: top;
}

.nowrap {
  white-space: nowrap;
}



/* Own classes */
/* Header */

.header-images {
  background: #000;
  border-left: 1px solid #000;
  overflow: auto;
}

.header img {
  float: left;
  margin: 0 0 1px 0.5%;
  width: 33%;
}

.header img:first-child {
  margin: 0;
}

.header:after {
  clear: both;
  content: "";
  display: block;
}

.footer {
  margin: 2%;
}



/* Navigation bar */

#menu-toggle {
  display: block;
  font-size: 2em;
  padding-top: 0.4em;
  text-align: center;
  display: inline-block;
  float: left;
  width: 50px;
}

.navigation a {
  color: #474747;
  text-decoration: none;
  line-height: 1.2em;
}

.navigation a:hover {
  color: #999;
}

.navigation .active a {
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.navigation {
  display: none;
}

.navigation li {
  list-style-type: none;
  margin: 0 0.8em;
  padding: 0.5em;
  position: relative;
  z-index: 2;
}

.navigation li.active::before {
  background: url('/images/heart.svg') left no-repeat;
  background-size: 1em;
  content: "";
  position: absolute;
  top: .1em;
  left: -1.5em;
  right: -1em;
  z-index: 1;
  height: 2em;
  opacity: 0.8;
}

.paper {
  background: #FFFFFA;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
}

.logo {
  width: 100%;
}

.home-text {
  text-align: center;
}

.map-container {
  border: 1px solid #b5b5b5;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
}

.maplink a, .maplink::before {
  color: #a00;
  text-decoration: none;
}

.maplink::before {
  content: "\25b8";
  margin-right: 0.2em;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

/* Responsive design */
*, *:before, *:after {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 0 15px;
  width: 100%;
}

[class*="col-"] > img.photo {
  margin: 30px auto;
  width: 80%;
}



/*Tablets*/
@media only screen and (min-width: 600px) {
  .col-m-1 { width: 8.33%; }
  .col-m-2 { width: 16.66%; }
  .col-m-3 { width: 25%; }
  .col-m-4 { width: 33.33%; }
  .col-m-5 { width: 41.66%; }
  .col-m-6 { width: 50%; }
  .col-m-7 { width: 58.33%; }
  .col-m-8 { width: 66.66%; }
  .col-m-9 { width: 75%; }
  .col-m-10 { width: 83.33%; }
  .col-m-11 { width: 91.66%; }
  .col-m-12 { width: 100%; }

  body {
    width: 600px;
  }

  #menu-toggle { display: none; }

  .header-images {
    background: none;
    border: none;
    width: 100%;
  }

  .navigation {
    border-top: 1px solid #B5B5B5;
    border-bottom: 1px solid #B5B5B5;
    display: block;
    padding: 6px 0 6px 0;
    text-align: center;
  }

  .paper {
    padding: 30px;
  }

  .navigation {
    margin-bottom: 18px;
  }

  .navigation li {
    display: inline;
    padding: 0;
    position: relative;
    z-index: 2;
  }

  .navigation li.active::before {
    background-position: center;
    background-size: 3.7em;
    top: -1.3em;
    left: -1em;
    right: -1em;
    height: 4em;
  }

  .navigation .active a {
    color: #000;
    font-weight: normal;
    position: relative;
    text-decoration: none;
    z-index: 2;
  }

  .header {
    background: none;
  }

  .header img {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 50px rgba(0, 0, 0, 0.03);
    margin: 0 0 0 2%;
    width: 32%;
  }

  [class*="col-"] > img.photo {
    margin: 60px auto 0;
    width: 100%;
  }

}



/* Desktop */
@media only screen and (min-width: 850px) {
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 66.66%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }

  body { width: 800px; }

  [class*="col-"] > img.photo {
    margin: 20px auto;
    width: 70%;
  }
}
