<header>
  <div class="header">
    <div id="menu-toggle">
      <a onclick="toggleMenu();">&#9776;</a>
    </div>
    <div class="header-images">
      <a href="/">
        <img src="/images/flowers-web.jpg">
        <img src="/images/shoes-web.jpg">
        <img src="/images/windows-web.jpg">
      </a>
    </div>
  </div>
  <ul id="navigation" class="navigation">
  {% assign active_url = page.url | remove: 'index.html' %}
  {% for navigation_url in site.data.navigation %}
    {% assign class = nil %}
    {% if active_url == navigation_url %}
      {% assign class = 'active' %}
    {% endif %}
    {% for any_page in site.pages %}
      {% if any_page.url == navigation_url %}
        <li class="{{ class }}"><a href="{{ any_page.url }}">{{ any_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
</header>
