---
title: Bra att veta
---
<div class="row">

  <div class="col-12">
    <h2>Schema för helgen</h2>
    <h3>Lördagen</h3>
    <table class="schedule">
      {% for item in site.data.schedule %}
        {% if item.day == 'lördag' %}
          <tr>
            <td>{{ item.time }}</td>
            <td>{{ item.longText }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <h3>Söndagen</h3>
    <table class="schedule">
      {% for item in site.data.schedule %}
        {% if item.day == 'söndag' %}
          <tr>
            <td>{{ item.time }}</td>
            <td>{{ item.longText }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <h2>Gåvor</h2>
    <p>Om ni vill ge en bröllopspresent välkomnar vi ett bidrag till vår bröllopsresa. För kontonummer se inbjudan. Det går även bra att kontakta brudens mor för en mer traditionell önskelista.</p>

    <h2>Klädsel</h2>
    <p>Kavaj</p>

    <h2>Barn</h2>
    <p>Detta är i första hand en fest för släkt och vuxna vänner, men ammade barn är givetvis välkomna.</p>

    <h2>O.S.A.</h2>
    <p>
      O.s.a. senast den
        {{ site.data.general.rsvpDate }}.
      Meddela även om busstransport till övernattning och brunch dagen efter önskas. (FIXME)
    </p>
  </div>
</div>
