---
title: Bra att veta
---
<div class="row">
  <div class="col-12">

    <h2>Schema för helgen</h2>

    {% assign schedule_by_day = site.data.schedule | group_by: "day" | sort: "day" %}
    {% for day in schedule_by_day %}
      <h3>{{ day.name | capitalize }}en</h3>
      <table class="schedule">
      {% for item in day.items %}
          <tr>
            <td>{{ item.time }}</td>
            <td>{{ item.longText }}</td>
          </tr>
      {% endfor %}
      </table>
    {% endfor %}

  </div>
</div>

<div class="row">
  <div class="col-7 col-m-8">

    <h2>Gåvor</h2>
    <p>
      Vi önskar oss mest av allt att ni kommer och firar vår dag. Om ni vill ge en present blir vi jätteglada för ett bidrag till vår bröllopsresa. Det går även bra att kontakta brudens mor (se inbjudan) för en önskelista.
    </p>

    <h2>Klädsel</h2>
    <p>Kavaj</p>

    <h2>O.S.A.</h2>
    <p>
      O.s.a. senast den
        {{ site.data.general.rsvpDate }}.
      När ni besvarar inbjudan, kom ihåg att uppge eventuella allergier och alkoholfria dryckesönskemål. Vi vill även veta vilka som vill åka med i bussen samt vilka som vill ha brunch.
    </p>

    <h2>Barn</h2>
    <p>Detta är i första hand en fest för släkt och vuxna vänner, men barn som ammas är givetvis välkomna.</p>

  </div>

  <div class="col-5 col-m-4">
    <img class="photo" src="/images/strawberries.jpg">
  </div>

  <div class="col-5 col-m-4">
    <img class="photo" src="/images/rose.jpg">
  </div>
</div>
